// Set the Planswell override variables here
//==================//
// Global
//==================//

html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  box-sizing: border-box;
  background-color: $white-smoke;
}

.logo {
  position: absolute;
  float: left;
  top: calc(50% - 6px);
  width: 168px;
  height: 21px;
  background-image: $planswell-logo;
  background-size: contain;
  background-repeat: no-repeat;

  &.planswell-portfolios {
    background-image: $planswell-portfolios-logo;
  }
}

//==================//
// Typography
//==================//

h1, h2, h3, h4, h5, p {margin-bottom: 0.75rem;}

h1, h2, h3, h4 { line-height: $line-height-small;}
h4, h5, p {line-height: $line-height-large;}

h1, h2, h3, h4, h5, h6 { font-weight: $weight-bold;}

h1, h2, h3, h4 { color: $black; }
h5 { color: $grey; }
p { color: $grey-dark; }

h1 { font-size: $size-1; }
h2 { font-size: $size-2; }
h3 { font-size: $size-3; }
h4 { font-size: $size-4; }
h5 { font-size: $size-5; }
h6 { font-size: $size-6; }
p, code  { font-size: $size-5; }

//Text Utility classes
.is-centred-text {text-align: center;}
.italic {font-style: italic;}
.weight-regular {font-weight: $weight-normal;}
.green-text {color: $primary;}
.grey-darker {color: $grey-darker;}
.grey-dark {color: $grey-dark;}
.grey {color: $grey;}
.grey-light {color: $grey-light;}
.bottom-buffer {
  margin-bottom: 0.95em;

  &.buffer-large {
    margin-bottom: 1.65em;
  }

  &.buffer-xlarge {
    margin-bottom: $size-2;
  }
}

//Text link style
a {
  cursor: pointer;

  &:hover {
    color: $primary-dark;
  }

  &.grey-text-link {
    color: $grey-light;

    &.top-padded-link {
      padding-top: 10px;
    }
  }
  &.investment-text-link { color: $investments; }
  &.additional-toggle {
    display: inline-block;
    color: $grey-light;

    &::after {
      margin-left: 6px;
      content: $plus-icon;
    }
  }
}

.table-heading-wrapper {
  display: block;
  //justify-content: space-between;
  width: inherit;
  height: auto;
  margin-bottom: 1rem;

  h5 {
    position: relative;
    display: inline-block;
    font-weight: $weight-bold;
    color: $grey;
    margin-bottom: 0rem;

    &.lock-right {
      float: right;
    }

    &.recommendation-label {
      font-weight: $weight-normal;
      color: $grey-light;
      background-color: transparent;
      border: 1px solid $grey-light;
      border-radius: $radius-small;
      padding: 0.10rem 0.65rem 0.15rem;
      float: right;
      margin-right: 1.5rem;
    }
  }
}

//==================//
//Structure & Grid
//==================//
.header {
  position: fixed;
  width: inherit;
  background-color: $white;
  height: 4.25rem;
  padding: 1.35rem 1.5rem 1.5rem;
  border-bottom: 1px solid $white-smoke;
  z-index: 99;

  .header-inner {
    display: table;
    position: relative;
    width: 100%;
    height: auto;

    .contact-text-link {
      display: inline-block;
      color: $grey-light;
      text-decoration: underline;
      float: right;
    }
  }
}

//SurveyJS panel
.panel {
  display: block;
  background-color: $white;
  max-width: 660px;
  width: 660px;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  box-shadow: $box-shadow;
  overflow: scroll;
}

section{
  &.main-column {
    display: block;
    background-color: $white;
    max-width: 660px;
    width: 660px;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    box-shadow: $box-shadow;
    overflow: scroll;
  }

  .inner-column {
    padding: 1.85rem 3.65rem 4rem;
    margin-top: 4.25rem;

    &.onboarding-column::after {
      position: relative;
      display: flex;
      content: '';
      height: 170px;
      width: inherit;
    }
  }

  .container {
    width: 100%;
  }
}

.modal-wrapper {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.90);
  height: inherit;
  width: inherit;
  z-index: 9;

  .modal-window {
    position: relative;
    width: 480px;
    height: auto;
    margin: 0 auto;
    padding: 1.75rem 2.5rem 2rem;
    z-index: 11;
    top: 10%;
    background-color: $white;
    border-radius: $radius-small;

    h4 {
      text-align: center;
    }

    h5 {
      margin-top: 1.25rem;
      color: $grey-light;
      text-align: center;
    }

    textarea {
      font-size: $size-5;
      color: $grey-dark;
      width: 100%;
      padding: 0.65rem 0.85rem;
      border: 1px solid $grey-lighter;
      border-radius: 6px;
      margin-bottom: 1rem;
      transition: $transition-standard-ease; -webkit-transition: $transition-standard-ease; -moz-transition: $transition-standard-ease; -o-transition: $transition-standard-ease;

      &:focus {
        box-shadow: 0;
        outline: none;
        border-color: $primary;
      }

      &::placeholder {
        color: $grey-lighter;
      }
    }

    button {
      min-width: 160px;
      border-radius: $radius;
      outline: none;
      margin-right: 6px;

      &:last-child {
        margin-right: 0px;
      }
    }

    .button-wrapper {
      display: flex;
      justify-content: center;

      &.modal-button-wrapper {
        justify-content: space-between;
      }
    }
  }
}

//Back button
.back-button-wrapper {
  display: block;
  width: 100%;
  height: 1rem;
  margin-bottom: 2.15rem;
  text-align: left;

  .back-button {
    content: $back-arrow;
    float: left;
    width: 22px;
    height: 16px;
    transform: translate(0px);
    transition: $transition-standard-ease; -webkit-transition: $transition-standard-ease; -moz-transition: $transition-standard-ease; -o-transition: $transition-standard-ease;
    &:hover {
      transform: translate(-5px);
    }
  }
}

//Footer
.survey-footer {
  width: inherit;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1.5rem 3.65rem 7.75rem 3.65rem;
  position: fixed;
  bottom: 0;
  border-top: 1px solid $white-smoke;
  z-index: 2;

  .footer-link-wrapper {
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 1rem;

    a.details-toggle {
      padding-top: 10px;
      color: $grey-light;
      transition: $transition-standard-ease; -webkit-transition: $transition-standard-ease; -moz-transition: $transition-standard-ease; -o-transition: $transition-standard-ease;

      &:hover {
        color: $grey;
      }
    }
  }

  //Progress bar
  .progress-bar {
    position: relative;
    display: block;
    width: 100%;
    height: 8px;
    border-radius: 8px;
    background-color: $white-smoke;
  }

  .progress-tip {
    display: inline-block;
    float: left;
    margin-top: 6px;
    font-size: $size-6;
    color: $grey-lighter;
  }
}

//==================//
//Buttons
//==================//

//Button types
button,
.button{
  background-color: $primary;
  color: $white;
  height: 2.85rem;
  font-size: $size-5;
  line-height: 100%;
  border-radius: $button-radius;
  padding-left: $button-padding-left-default;
  padding-right: $button-padding-left-default;
  padding-top: calc(0.4rem - 1px);
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: $transition-standard-ease; -webkit-transition: $transition-standard-ease; -moz-transition: $transition-standard-ease; -o-transition: $transition-standard-ease;

  &:hover {
    background-color: $primary-dark;
    color: $white;
  }

  &.is-small {
    border-radius: $button-radius;
    font-size: $size-6;
    height: 2.15rem;
    padding-left: $button-padding-left-small;
    padding-right: $button-padding-right-small;
  }

  &.is-large{
    font-size: $size-4;
    height: 2.85rem;
  }

  &.is-button-centred {
    position: relative;
    margin: 0 auto;
  }

  .is-primary {
    &.previous {
      background-color: transparent;
      border: 1px solid $primary;
      color: $primary;

      &:hover {
        border-color: $primary-dark;
        color: $primary-dark;
      }
    }
  }

  &.is-link {
    color: $grey-light;
  }

  .icon .fa {
    font-size: $size-7;
  }

  .icon:first-child:last-child {
    font-size: $size-7;
    color: inherit;

    &.icon-right {
      margin-left: 4px;
    }
  }
}

//Outlined-button
.is-outlined {
  background-color: transparent !important;
  color: $primary;
  border: 1px solid $primary;

  &:hover {
    color: $primary-dark;
    border-color: $primary-dark;
  }

  &.is-investments {
    color: $investments;
    border-color: $investments;

    &:hover {
      color: $investments-hover;
      border-color: $investments-hover;
    }
  }

  &.is-insurance {
    color: $insurance-dark;
    border-color: $insurance;

    &:hover {
      border-color: $insurance-dark;
    }
  }
  &.is-borrowing {
    color: $borrowing-dark;
    border-color: $borrowing;

    &:hover {
      border-color: $insurance-dark;
    }
  }

  &.is-grey {
    color: $grey-light;
    border-color: $grey-lighter;

    &:hover {
      color: $grey;
      border-color: $grey-light;
    }
  }
}

//Button colour variations
.is-investments {
  background-color: $investments;
  &:hover {
    background-color: $investments-hover;
    color: $white;
  }
}
.is-insurance {
  background-color: $insurance;
  &:hover {
    background-color: $insurance-hover;
    color: $white;
  }
}
.is-borrowing {
  background-color: $borrowing-dark;
  &:hover {
    background-color: $borrowing-hover;
    color: $white;
  }
}

.wrapper {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin: 0.85rem 0rem;

  &.is-flex-justified {
    display: flex;
    justify-content: space-between;
  }

  &.is-flex-centred {
    justify-content: center;
  }
}

.button-next-wrapper {
  display: block;
  height: 48px;
  margin-bottom: 1.25rem;

  .is-button-next {
    position: relative;
    float: right;
    padding-right: 1.45rem;

    &::after {
      content: '→';
      padding-left: 6px;
    }
  }
}

//==================//
//Elements
//==================//

//Boxes
.box {
  border-radius: $button-radius-tiny;

  &.ordered-box {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  &.is-padding-small {
    padding-top: $box-padding-small;
    padding-bottom: $box-padding-small;
  }

  &.is-width-auto {
    display: inline-block;
    width: auto;
  }

  &.is-three-quarter-width{
    width: 75%;
  }
}

//Portfolio allocation
ul.portfolio-allocation-bar {
  width: inherit;
  height: auto;
  box-sizing: border-box;
  letter-spacing: 0rem;
  line-height: 0rem;
  margin: 0rem;
  padding: 0rem;

  li {
    display: inline-block;
    width: 25%;
    height: 1.75rem;

    &:nth-child(2) {background-color: $primary;}
    &:nth-child(3) {background-color: $black;}
    &:nth-child(4){background-color: $teal;}
    &:nth-child(5){background-color: $grey;}
    &:nth-child(6){background-color: $insurance;}
    &:nth-child(7){background-color: $borrowing;}
    &:nth-child(8){background-color: $grey-lighter;}

    //Rounded end caps
    &:first-child {
      background-color: $investments;
      border-top-left-radius: $button-radius-tiny;
      border-bottom-left-radius: $button-radius-tiny;
    }

    &:last-child {
      border-top-right-radius: $button-radius-tiny;
      border-bottom-right-radius: $button-radius-tiny;
    }
  }
}

ul.portfolio-allocation-breakdown {
  display: block;
  width: inherit;
  height: auto;

  li {
    display: block;
    margin-top: 0.35rem;
    margin-bottom: 0.75rem;

    &:first-child {
      margin-top: 1.35rem;
    }

    &::before {
      content: '•';
      position: relative;
      height: auto;
      font-size: 2.45rem;
      line-height: 0%;
      border-radius: 1rem;
      top: 0.415rem;
      margin-right: 0.415rem;
    }

    &:first-child:before {color: $investments;}
    &:nth-child(2):before {color: $primary;}
    &:nth-child(3):before {color: $black;}
    &:nth-child(4):before {color: $teal;}
    &:nth-child(5):before {color: $grey;}
    &:nth-child(6):before {color: $insurance;}
    &:nth-child(7):before {color: $borrowing;}
    &:nth-child(8):before {color: $grey-lighter;}
  }
}

// Fields
.field {
  display: block;
  margin-bottom: 0rem;
  padding: 1.15em 0;
  height: auto;
  overflow: auto;

  &.ordered-field {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    &.error-field {
      font-size: $size-6;
      padding-top: 0.65rem;
      padding-bottom: 0.95rem;
      background-color: $insurance-hover;

      p {
        font-size: inherit;
        margin-bottom: 0rem;
        color: $white;
      }

      a {
        font-size: inherit;
        font-weight: $weight-bold;
        padding-bottom: 0.025rem;
        border-bottom: 1px solid $white;
        color: $white;
        cursor: pointer;
        margin-right: 0.45rem;
        transition: all 150ms ease; -webkit-transition: all 150ms ease; -moz-transition: all 150ms ease; -o-transition: all 150ms ease;

        &:hover {
          padding-bottom: 0.125rem;
        }

        &:last-child::after {
          margin-right: 0rem;
        }
      }
    }

    &.flex-justify {
      display: flex;
      justify-content: space-between;

      label {
        margin-right: 1.15rem;

        strong {
          color: $grey-dark;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .input-note {
    font-size: $size-6;
    margin-top: 1.15rem;
    color: $grey-lighter;
    margin-bottom: 0.5em;
  }
}

.field:not(:last-child) {
  margin-bottom: 0;
  border-bottom: 1px solid $grey-lighter;
}
.field:first-child {
  padding-top: 0;
}
.field:last-child {
  padding-bottom: 0px;
}

//Tool tip hover
.is-tool-tip {
  visibility: visible;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-left: 0.30rem;
  background-image: url('/images/tool-tip-icon-grey.svg');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: $transition-standard-ease; -webkit-transition: $transition-standard-ease; -moz-transition: $transition-standard-ease; -o-transition: $transition-standard-ease;
}

.tooltiptext {
  visibility: hidden;
  position: absolute;
  width: 240px;
  background-color: $white;
  font-size: $size-6;
  line-height: $line-height-normal;
  color: $grey;
  padding: 0.85rem 1rem;
  border-radius: $button-radius-tiny;
  box-shadow: $box-shadow;
  margin-top: -50px;
  z-index: 10;
}

// Show on hover
.is-tool-tip:hover .tooltiptext {
    visibility: visible;
}


.dot-indicator-wrapper {
  display: flex;
  float: left;
  height: 0.30rem;

  .dot-indicator {
    position: relative;
    display: inline-block;
    width: 0.30rem;
    height: 0.30rem;
    background-color: $grey-lighter;
    border-radius: 50%;
    margin-right: 0.25rem;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      background-color: $grey;
    }
  }
}

textarea {
  font-size: $size-5;
  color: $grey-dark;
  width: 100%;
  padding: 0.65rem 0.85rem;
  border: 1px solid $grey-lighter;
  border-radius: 6px;
  margin-bottom: 1rem;
  transition: $transition-standard-ease; -webkit-transition: $transition-standard-ease; -moz-transition: $transition-standard-ease; -o-transition: $transition-standard-ease;

  &:focus {
    box-shadow: 0;
    outline: none;
    border-color: $primary;
  }

  &::placeholder {
    color: $grey-lighter;
  }
}

// Radio inputs
label {
 &.label {
  display: inline-block;
  font-size: $size-7;
  color: $grey;
  height: auto;
  transition: $transition-standard-ease; -webkit-transition: $transition-standard-ease; -moz-transition: $transition-standard-ease; -o-transition: $transition-standard-ease;

  &:hover {
    color: $grey-darker;
  }

  &.figure-right {
    display: inline-block;
    color: $grey-darker;
    float: right;

    &.is-goals {
      display: inline-block;
      font-size: $size-6;
      width: 50%;
      height: auto;

      .root-goal {
        font-weight: $weight-bold;
      }
    }
  }
}
}
//Form elements
//
//Text inputs
.value-right {
    display: inline-block;
    float: right;

    & label.per-month {
      color: $grey-lighter;
    }

    .recommendation-value {
      font-weight: $weight-normal;
      color: $grey;
      background-color: transparent;
      border: 1px solid $grey-light;
      border-radius: $radius-small;
      padding: 0.10rem 0.65rem 0.15rem;
      margin-right: 1rem;
    }
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
.select select {
    border: none;
    border-bottom: 1px solid $grey-lighter;
    box-shadow: none;
    font-size: $size-5;
    width: 100%;
    color: $grey-dark;
    transition: $transition-standard-ease; -webkit-transition: $transition-standard-ease; -moz-transition: $transition-standard-ease; -o-transition: $transition-standard-ease;

    &::placeholder {
      color: $grey-lighter;
    }

    &:focus {
      color: $grey-dark;
      box-shadow: 0;
      outline: none;
      border-bottom: 1px solid $primary;
    }

    &.is-success {
        color: $primary;
    }

    &.is-danger {
      color: $insurance-hover;
    }

    &.is-success:focus,
    &.is-danger:focus {
      color: $grey-darker;
    }

    &.three-figure-value {
        width: 33px;
        min-width: 33px;

        &::placeholder {
          color: $grey-dark;
        }
    }
  }

  .input[type="text-area"],
  .textarea {
    box-shadow: none;
    border-color: $grey-lighter;

    &:focus {
      color: $grey-dark;
    }
  }

// Form helpers
.help {
  color: $grey-light;
  margin-top: $button-radius-tiny;

  &.is-success {
      color: $primary;
  }

  &.is-danger {
    color: $insurance-hover;
  }
}

  .dollar-input {
    font-size: $size-5;
    color: $grey-dark;
    font-weight: $weight-bold;
  }

//Checkbox & Radio inputs
input[type="radio"],
input[type="checkbox"] {
  width: $size-5;
  height: $size-5;
  margin-right: 0.315rem;
}

//===============
// Media Queries
//===============

// Footer height queries
@media screen and (min-height: 867px) and (max-height: 1900px) {
  section {
    &.onboarding-column {
      margin-bottom: 0px;
    }
  }
}

@media screen and (max-height: 767px) {
  .survey-footer {
    padding-bottom: 2.35rem;
  }
}

//Responsive Queries
//==================//
//Tablet - Onboarding
@media screen and (max-width: $tablet-onboarding) {
  //Typography
  h1     { font-size: $size-2; }
  h2     { font-size: $size-3; }
  h3     { font-size: $size-4; }
  h4     { font-size: $size-5; }
  h5     { font-size: $size-6; }
  p      { font-size: $size-6; }
  label  { font-size: $size-6; }

  //Layout
  section{
    &.main-column {
      max-width: 100%;
      width: 100%;
    }

    .inner-column {
      padding: 1.25rem 2.65rem 3rem;
      margin-top: 4.25rem;

      &.onboarding-column::after {
        content: '';
        height: 165px;
      }
    }
  }

  .box {
    &.is-three-quarter-width{
      width: 100%;
    }
  }
}

// Mobile
@media screen and (max-width: $mobile) {
  //Global
  //Structure & Layout
  .header {
    height: 3.75rem;
    padding: 1.15rem 1.15rem 1.25rem;

    .header-inner {
      .logo {
        top: calc(50% - 6px);
        width: 152px;
        height: 18px;
      }

      .contact-text-link {
        font-size: $size-6;
      }
    }
  }

  section{
    .inner-column {
      padding: 1.25rem 1.85rem 3rem;
      margin-top: 3.75rem;
      overflow: scroll;

      &.onboarding-column::after {
        content: '';
        height: 150px;
      }
    }
  }

  .field {
    &.ordered-field {
      padding-left: 1.15rem;
    }
  }

  .box {
    padding: $box-padding-mobile;
  }

  .survey-footer {
    padding: 1.35rem 1.85rem 3rem;
    padding-bottom: 12%;

    .footer-link-wrapper {
      display: flex;
      justify-content: space-between;
    }

    .button-next-wrapper {
      margin-bottom: 0.75rem;
    }
    .progress-bar {
      height: 6px;
    }
  }

  //Elements
  .button {
    height: 2.35rem;
    font-size: $size-6;
    border-radius: $button-radius;
    padding-left: $button-padding-left-small;
    padding-right: $button-padding-left-small;

    &.is-button-next {
      padding-right: 1.15rem;
    }
  }

  .back-button-wrapper {
    margin-bottom: 1.5rem;

    .back-button {
      width: 19px;
      height: 14px;
    }
  }

  .table-heading-wrapper {
    h5 {
      &.recommendation-label {
        margin-right: 0rem;
      }
    }
  }

  //Form fields
  input[type="text"],
  input[type="number"],
  .select,
  .select select {
    width: 100%;
    font-size: $size-6;
  }

  input[type="number"] {
    min-width: 48px;
    width: 48px;
  }
}
