// Set the Planswell override variables here
//
//==================//
// Global
//==================//
//Screen sizes
$mobile: 479px !default;
$tablet-onboarding: 660px;

//==================//
// Logos & icons
//==================//
$planswell-logo: url('/images/planswell-logo-green.svg');
$planswell-portfolios-logo: url('/images/pp-logo.svg');
//icons
$back-arrow: url('/images/arrow-left-grey.svg');
$plus-icon: url('/images/plus-icon-grey.svg');
$check-mark-white: url('/images/check-mark-white.svg');
$tool-tip-grey: url('/images/tool-tip-icon-grey.svg');

//==================//
// Typography
//==================//
$family-sans-serif: 'Lato', Helvetica, sans-serif;

//Type sizes
$size-1: 3rem;
$size-2: 2.15rem;
$size-3: 1.70rem;
$size-4: 1.35rem;
$size-5: 1.05rem;
$size-6: 0.95rem;
$size-7: 0.75rem;

//Line-heights
$line-height-normal: 140%;
$line-height-large: 145%;
$line-height-small: 126%;


//==================//
//Colour variables
//==================//
//Default colours
$green: hsl(149, 76%, 37%);
$red: hsl(17, 78%, 54%);

//Brand colours
//Primary
$black: hsl(190, 5%, 25%);
$white: #fff;
$primary: hsl(149, 76%, 37%);
$primary-dark: hsl(149, 78%, 33%);

//Secondary
$investments: hsl(213, 81%, 46%);
$investments-hover: hsl(213, 81%, 38%);
$insurance: hsl(17, 78%, 54%);
$insurance-dark: hsl(17, 73%, 47%);
$insurance-hover: hsl(17, 78%, 48%);
$borrowing: hsl(38, 100%, 64%);
$borrowing-dark: hsl(38, 77%, 55%);
$borrowing-hover: hsl(38, 77%, 48%);
$teal: hsl(174, 56%, 68%);

//Neutrals
$grey-dark: hsl(188, 4%, 44%);
$grey: hsl(193, 4%, 55%);
$grey-light: hsl(186, 6%, 67%);
$grey-lighter: hsl(195, 9%, 83%);
$white-smoke: hsl(180, 7%, 97%);

//==================//
//Buttons
//==================//
//Radius sizes
$radius-tiny: 0.375rem;
$radius-small: 2.15rem;
$radius: 2.85rem;
$radius-large: 2.85rem;

//Padding
$button-padding-left-default: 1.75rem;
$button-padding-right-default: 1.75rem;

$button-padding-left-small: 1.25rem;
$button-padding-right-small: 1.25rem;

//==================//
//Elements
//==================//
$box-radius: $radius-tiny;
$box-shadow: 0 2px 14px rgba($black, 0.15);
$box-padding-small: 0.85rem;
$box-padding: 1.15rem;
$box-padding-mobile: 1rem;

//==================//
//Transitions
//==================//
$transition-standard-ease: all 300ms ease;
